/* about.css */
.about-container {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 20px;
  background: transparent;/* Set height to viewport height for vertical centering */
  flex-direction: column; /* Stack content vertically */
}

.about-content {
  max-width: 800px; /* Limit text content width */
  text-align: center;
}

.about-content h1 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 36px;
  color: #ff643c;
}

.about-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.image-gallery {
  display: flex;
  justify-content: center; /* Center images horizontally */
  align-items: center; /* Center images vertically */
  flex-wrap: wrap; /* Allow images to wrap if needed */
  margin-top: 20px;
}

.gallery-item {
  text-align: center;
  margin: 10px;
}

.gallery-item img {
  background: aliceblue;
  width: 100%;
  max-width: 200px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.gallery-item:hover {
  transition: 0.3s ease-out;
  transform: scale(1.1);
}

.gallery-item p {
  font-size: 21px;
  margin-top: 8px;
  color: #ff643c;
}
