/* Reset some default browser styles */
.home-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}

/* Hero section styling */
.hero-section {
  background: transparent;
  padding: 20px 0;
  text-align: center;
  overflow: hidden;
}

.flex-container {
  display: flex;
  flex-direction: column;
}

.content-container {
  flex: 1;
  padding: 20px;
  text-align: center;
}

.main-heading {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 10px;
}

.sub-heading {
  font-size: 18px;
  margin-bottom: 20px;
}

/* Login section styling */
.login-container {
  max-width: 450px;
  margin: 0 auto;
  padding: 60px;
  background-color: #ff643c;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-heading {
  font-size: 26px;
  margin-bottom: 20px;
}

.login-form {
  text-align: left;
}

.form-group2 {
  margin-bottom: 30px;
}

.form-group2 label {
  display: block;
  margin-bottom: 5px;
}

.form-group2 input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-button {
  text-decoration: none;
  align-items: center;

  border: 1px solid transparent;
  border-radius: 25px;

  justify-content: center;

  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);

  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;

  color: #fff;
}

/* Additional image styling */
.additional-images {
  padding: 20px;
  text-align: center;
}

.centered-images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.additional-image {
  max-width: 100%; /* Set the maximum width to 100% to make images responsive */
  height: auto;
  margin: 10px; /* Reduce margin for smaller screens */
}

.additional-image:hover {
  transition: 0.3s ease-in;
  transform: scale(1.1);
}

/* Media query for small screens */
@media (max-width: 768px) {
  .additional-image {
    margin: 5px; /* Adjust margin for smaller screens */
  }
}

/* Responsive styles for larger screens */
@media (min-width: 768px) {
  .flex-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .content-container {
    text-align: left;
  }

  .main-heading {
    font-size: 40px;
    line-height: 1.4;
  }

  .sub-heading {
    font-size: 20px;
  }

  .login-container {
    margin-right: 20px;
  }

  .additional-image {
    margin: 20px 10px;
  }
}
@media (max-width: 390px) {
  .login-container {
    width: 56%;
  }
  .inpp {
    max-width: 85%;
  }
}
